<div class="d-flex flex-column vw-100 vh-100">
  <app-header></app-header>
  <main class="row g-0 w-100 h-100">
    <div class="col-12 col-md-6 col-lg-4 p-4 d-flex flex-column justify-content-center content-area">
      <h1 class="mb-4">🎯 Vessel Tracker</h1>
      <h2>App for Track 🚢 vessels and ⚓ ports</h2>
      <h2><strong>NEW Feature:</strong> Plan routes</h2>
      <div class="d-flex align-items-center">
        <p class="lead mb-0">Contacts:</p>
        <a href="https://github.com/thiagotrs" target="_blank" class="link-dark px-2">GitHub</a>
        <a href="https://www.linkedin.com/in/thiago-rotondo-sampaio" target="_blank" class="link-dark px-2">Linkedin</a>
        <a href="mailto:thiagorot@gmail.com" target="_blank" class="link-dark px-2">Email</a>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-8 d-flex align-items-center">
      <img src="assets/vessel.jpg" alt="" width="100%" style="object-fit: contain;">
    </div>
  </main>
</div>